
.profileContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileDetails{
  margin-top: 20px;
}

.bookingTable{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileTable{
  font-size: large;
  border-collapse: separate;
}

.tableHeading{
  font-size: larger;
  font-weight: bolder;
  
}

.profileTable th {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}

.profileTable td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
